*{
    background-color: #374151;
    font-family: 'Roboto';
    font-weight: 400;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
}
 
/* 
                    На макете некорректно отображенны блоки параграфов, поэтому с
                        ними возникли трудности, пытался сделать как на макете */
a {
    font-size: 16px;
    line-height: 18.75px;
}
nav {
    margin: 80px 180px 0 180px;
}
h1 {
    padding-top: 14px;
    text-align: center;
}
p:not(#iskluchenie) {
    padding-top: 20px;
}
.teachDescription {
    padding-top: 30px;
    text-align: center;
}
.allDescription {
    font-size: 14px;
    opacity: 60%;
    padding: 80px 0 0 0;
    text-align: center;
}
.mainInform {
    font-size: 20px;
    padding: 69px 366px 0px 366px;
}
.footWeb {
    font-size: 16px;
    opacity: 60%;
    text-align: center;
    padding-top: 103px;
}
#findAll {
    background-color: rgba(31, 41, 55, 0.6);
    border-radius: 25px;
    padding: 5px;
    color: #FFFFFF;
    opacity: 60%;
}
#theme {
    font-size: 24px;
}
#nameTeach  {
font-size: 16px;
}
#twiceInformTeach {
    font-size: 14px;
    opacity: 60%;
}
#pcPhoto {
    padding: 28px 272px 0 272px;
}
